@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500&family=Poppins:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.tableContainer {
  margin: auto;
}

.table {
  background-color: #444;
}

.tableHeadCell {
  color: white !important;
  font-family: "Poppins" !important;
  font-size: 23px !important;
  font-weight: 700 !important;
}

.tableBodyCell {
  color: white !important;
  font-family: "Poppins" !important;
  font-size: 16px !important;
}

.tableRow {
  &:nth-of-type(even) {
    background-color: #555; /* Alternate row background color */
  }
}

.button {
  width: 170px;
  font-size: 16px !important;
  font-family: "Poppins" !important;
}

.user-blur-container {
  filter: blur(4px);
}
